CLOUDFILEFLOW_DATABASE_URL=sqlite:///./data/cloudfileflow.sqlite3
CLOUDFILEFLOW_STORAGE_ROOT=./data/storage
CLOUDFILEFLOW_AUTO_MIGRATE=false
CLOUDFILEFLOW_JWT_SECRET=replace-with-at-least-32-random-characters
CLOUDFILEFLOW_JWT_ISSUER=cloudfileflow-local
CLOUDFILEFLOW_OPERATOR_OWNER_ID=00000000-0000-0000-0000-000000000001
CLOUDFILEFLOW_MAX_FILE_BYTES=5242880
CLOUDFILEFLOW_WORKER_MAX_ATTEMPTS=3
CLOUDFILEFLOW_WORKER_RETRY_BASE_SECONDS=5
CLOUDFILEFLOW_WORKER_CLAIM_TIMEOUT_SECONDS=300
CLOUDFILEFLOW_WORKER_POLL_SECONDS=1
